/* Imports */


@font-face {
    font-family: 'source-sans-pro';
    src: url('../font/source-sans-pro/SourceSansPro-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro-it';
    src: url('../font/source-sans-pro/SourceSansPro-IT.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro-bold';
    src: url('../font/source-sans-pro/SourceSansPro-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro-semibold';
    src: url('../font/source-sans-pro/SourceSansPro-SemiBold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Nav */

nav{
    box-shadow: 0px -1px 15px black;
}

#section-menu-1 {
    height: 1.4cm;
    border: 0.2cm;
    z-index: 1;

    position: relative;
    top: 0;

    border-bottom: 1px solid grey;
}

#section-menu-2{
    display: flex;
}

#section-menu-3{
    display: none;
    position: absolute;
    width: 100%;

    background-color: white;
}

#section-menu-3 #elements{
    display: flex;

    border-top: 1px solid #496a79;
}

#bouton-categories{
    display: flex;
    align-items: center;

    width: 3.8cm;
    height: 0.6cm;
    margin-top: 0.2cm;
    margin-left: 0.2cm;
    padding: 0.2cm 0.2cm 0.35cm 0.2cm;

    cursor: pointer;
    border-radius: 1px;
}

#cache-bordure{
    width: 4.2cm;
    height: 0.03cm;
    position: relative;
    left: 0.2cm;
    top: 0.025cm;

    background-color: white;
}

#section-menu-2 h4{
    margin-left: 0.2cm;

    font-size: 0.6cm;
    color: #496a79;
    font-family: 'source-sans-pro';
}

#section-menu-3 ul{
    margin: 0.4cm 0.75cm 0.75cm 0.75cm;

    list-style-type: none;
    font-size: 0.4cm;
}

#section-menu-3 ul h6 a, #section-menu-3 ul li a{
    color: #273840;
    text-decoration: none;
}

#section-menu-3 ul li{
    font-family: 'source-sans-pro-it';
}

#section-menu-3 h6{
    margin: 0.20cm 0.60cm 0.20cm 0cm;

    font-weight: normal;
    text-align: center;
    font-size: 0.5cm;
    font-family: 'source-sans-pro-semibold';
}

.logo-alizon{
    width: 2.5cm;
    margin: 0.32cm;
}

#icones-utilisateur{
    float: right;
}

#section-menu-1 .icones-svg{
    width: 0.8cm;
    margin: 0.3cm 0.2cm 0.3cm 0.1cm;
}

#barre-recherche{
    margin-left: auto;
    margin-right: auto;

    padding-top: 0.2cm;

    display: flex;
    align-items: baseline;
}

#barre-recherche input{
    height: 0.5cm;
    width: 6cm;

    padding: 0.1cm 0.5cm 0.1cm 1cm;

    border-radius: 25px;
    border: 1px solid #496a79;
}

#icone-loupe{
    position: relative;
    left: 0.85cm;
    top: 0.15cm;

    width: 0.6cm;
}

/* Main */

main{
    min-height: 10cm;
    margin-bottom: 1cm;
}

/* Footer */

footer{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;    
    justify-content: center;

    background-color: #E8DAB2;
}

#elements-footer{
    width: 100%;

    display: flex;
    justify-content: center;
}

#elements-footer ul{
    display: inline-block;
    margin: 1cm 1cm 0.5cm 1cm;
}

#elements-footer ul li{
    
    margin: 0.1cm 0.5cm 0.1cm 0.8cm;
    list-style-type: none;
    font-family: 'source-sans-pro';
    font-size: 0.3cm;
}

#elements-footer h6{
    font-weight: normal;
    text-align: center;
    font-size: 0.4cm;
    font-family: 'source-sans-pro-bold';
}

#elements-footer ul h6 a, #elements-footer ul li a{
    text-decoration: none;
}

#elements-footer ul h6 a{
    color: #496a79;
}

#elements-footer ul li a{
    color: #273840;
    
}

#conteneur-centrage{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

#logos-footer{
    display: flex;
    justify-content: center;
}

#mentions-legales{
    margin-bottom: 1cm;
}

#mentions-legales p{
    font-family: 'source-sans-pro';
    font-size: 0.3cm;
    text-align: center;
}


/* Caroussel */

.caroussel{
    
    height: 9cm;
}

.caroussel .element-caroussel{
    display: inline-block;
    height: 9cm;
    width: 100%;
}

.element-caroussel{
    background-size: 100%;
}